/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

p {
    line-height: 50px;
}

.notice {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid purple;
}

.alert {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid red;
}



.eachuser {
    border: 2px solid purple;
    padding: 5px;
    margin-bottom: 20px;
}

.field_with_errors {
    color: red;
}

.field_with_errors input,
.field_with_errors textarea {
    color: red;
    border: 2px solid red;
}

.errors1 {
    color: red;
    padding: 5px;
    border: 2px solid red;
}


